{% extends 'template.html' %}
{% block title %}Update Profile{% endblock %}


{% block body %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

      {% if user.is_authenticated %}
          <div class="my-3 p-3  rounded box-shadow" style="background-color:#F0F0F0;">
              <h5 class="border-bottom border-gray pb-2 mb-0">Update Your profile?</h5><br>
               <form method="post">
                {% csrf_token %}
                 {{form.as_p}}
                   <a href="{% url 'change_password' %}" style="text-decoration:none">Wanna change password?</a><br><br>
                    <button class="btn btn-primary" type="submit">Update profile</button>
                </form>
          </div>
        {% endif %}

{% endblock %}